@import "_variables";
#menu-navigation-admin{
  //background: black;
  > ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    > li{

      align-items: center;
      text-align: center;
      justify-content: center;
      list-style-type:none;
      flex: 1;
      background: $black;

    }
  }

  a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $gray;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    &:hover{
      color:$white;
    }
  }
  .submenu{


    list-style-type: none;

    //flex-direction: column;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    //overflow: hidden;
    &:hover{
      //overflow: auto;
    }
    &:hover .submenu-list{
      //margin-top:49px;
      z-index: 0;
      height: auto;overflow: auto;
    }
    .submenu-list{
      height:0;
      min-width: 25%;
      overflow:hidden;
      display: flex;
      flex-direction: column;
      background: $black;
      position: absolute;
      //width: 80% !important;
      margin-top: 0;
      padding: 0;
      transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      li{
        list-style-type: none;
        a{
          &:hover{
            color:$black;
            background:rgba($white,0.8);
          }
        }

      }
    }
  }

}
