
//ANIMATIONS
@keyframes fadeOut {
  0% {
    opacity: 0;
    height:auto;
    overflow: auto;
  }
  10% {
    opacity: 1;
        height:auto;
  }
  80% {
    opacity: 1;
        height:auto;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

body{
  font-family: Lato;
}


input{
  display: block;
  margin-bottom: 15px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 7px;
}

button[type=submit]{
  border-radius: 5px !important ;
  border: 1px solid;
  padding: 7px;
  box-shadow: none;
  background: transparent;
  margin:15px 0;
  display: block;
}

table{
  width: 100%;
  margin: 15px 0;
  border: 1px solid $gray;
  border-collapse: collapse;
  thead{
    text-align:left;
    width: 100%;

  }
  th{
        padding:7px 15px;
        border: 1px solid $gray;
  }
  tr{
    -webkit-transition: all ease 300ms;
    -moz-: all ease 300ms;
    transition: all ease 300ms;
    &:hover{
      background: $graylight;
    }
  }
  td{
    border: 1px solid $gray;
    padding: 7px 15px;

  }
}


select{
    border-radius: 5px !important ;
    padding: 7px;

}

.success{
  background: $green !important;
  color: $white;
}

.danger{
  background: $red;
  color: $white;
}

.btn{
  display: inline-block;
  padding:7px;
  border-radius: 5px !important;
  border: 1px solid;
  font-size: 1rem;
  box-shadow: none;
  text-decoration: none;
  &-add{
    &::before{
      content: " + ";
      font-weight: bold;
    }
  }
  &-delete{
    &::before{
      content: " X ";
      font-weight: bold;
    }
  }
 &-default{
   background-color: $custom-first-color;
   color: $white;
 }

}


//comportment

.no-scroll{
  overflow: hidden !important;
}

//animation

.fadeOut{
  display: block !important;
  animation:fadeOut 5000ms ease-in-out;
  -webkit-animation:fadeOut 5000ms ease-in-out;
  -moz-animation:fadeOut 5000ms ease-in-out;
  opacity: 0;

  overflow: hidden;
  padding: 0 !important;
      height:0;
}



#notification-bar{
  .js-close-notification{
    position: absolute;
    top: 15px;
    right: 15px;
          content: " X ";
    width: auto;
    color: $white;
    &::before{
      content: " X ";
      font-weight:bold;
    }
  }
}
