
//ANIMATIONS
@keyframes fadeOut {
  0% {
    opacity: 0;
    height:auto;
    overflow: auto;
  }
  10% {
    opacity: 1;
    height:auto;
  }
  80% {
    opacity: 1;
    height:auto;
    padding: 15px;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}

body{
  font-family: Lato;
}

input{
  display: block;
  margin-bottom: 15px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 7px;
}

button[type=submit]{
  border-radius: 5px !important ;
  border: 1px solid;
  padding: 7px;
  box-shadow: none;
  background: transparent;
  margin:15px 0;
  display: block;
}

table{
  width: 100%;
  margin: 15px 0;
  border: 1px solid $gray;
  border-collapse: collapse;
  thead{
    text-align:left;
    width: 100%;

  }
  th{
      padding:7px 15px;
      border: 1px solid $gray;
      &.ascending{
        &::after{
          content: "▲";
          font-size: small;
        }
      }
      &.descending{
        &::after{
          content: "▼";
          font-size: small;
        }
      }
  }
  tr{
    -webkit-transition: all ease 300ms;
    -moz-: all ease 300ms;
    transition: all ease 300ms;
    &:hover{
      background: $graylight;
    }
  }
  td{
    border: 1px solid $gray;
    padding: 7px 15px;

  }
}


select{
    margin-top: 15px;
    border-radius: 5px !important ;
    padding: 7px;
}

.success{
  background: $green !important;
  color: $white;
}

.danger{
  background: $red;
  color: $white;
}

.btn{
  display: inline-block;
  padding:7px;
  border-radius: 5px !important;
  border: 1px solid;
  font-size: 1rem;
  box-shadow: none;
  text-decoration: none;
  &-add{
    &::before{
      content: " + ";
      font-weight: bold;
    }
  }
  &-delete{
    &::before{
      content: " X ";
      font-weight: bold;
    }
  }
 &-default{
   background-color: $custom-first-color;
   color: $white;
 }

}


label{
 font-weight: bolder;
}
//comportment

.no-scroll{
  overflow: hidden !important;
}

//animation

.fadeOut{
  display: block !important;
  animation:fadeOut 5000ms ease-in-out;
  -webkit-animation:fadeOut 5000ms ease-in-out;
  -moz-animation:fadeOut 5000ms ease-in-out;
  opacity: 0;
  overflow: hidden;
  padding: 15px;
      height:0;
}

#notification-bar{
  .js-close-notification{
    position: absolute;
    top: 15px;
    right: 15px;
          content: " X ";
    width: auto;
    color: $white;
    &::before{
      content: " X ";
      font-weight:bold;
    }
  }
}

.js-filter-asc {
  cursor: pointer;
}

//input
.switch {
    position: relative;

    span {
      background: $graylight;
      width: 68px;
      height: 12px;
      position: absolute;
      left: 0;
      top: 12px;
      opacity: 1;
      border-radius: 6px;
      &::before {
        width: 30px;
        height: 30px;
        background: $red;
        content: '';
        left: 0;
        top: -8px;
        position: absolute;
        border-radius: 50%
      }
    }
    input:checked + span::before {
      transform: translateX(34px);
      content: "";
      background: $green;
    }
    input {
      opacity: 0
    }
}

