

/*Color*/
$background         : #ffffff;
$black              : #000000;
$gray               : #dadada;
$graydark           : #303030;
$white              : #ffffff;
$green              : #008000;
$yellowgreen        : #9ACD32;
$red                : #DC143C;
$custom-first-color : $black;
